- let text = 'Press me!'

#bump
button.base(style=`--slm1: #f7f504, #ffa31f`) #{text}
button.base.sled.bump #{text}
button.circ.sled(style=`--a: .375; 
												--slo0: #bfbfbf, #616065; 
												--slm1: #c0c0c0, #777; 
												--slo1: #fff, #aaa`) #{text}
button.circ.sled(style=`--a: .35;
												--slo0: #5a5b5f, #c7c8cc;
												--slm1: #c0c1c5, #35363a; 
												--slo1: #fff, #ccc`) #{text}
button.soft(style=`--slm0: #05769e, #198ca9; 
									 --sli1: #51c7f7, #0080af; 
									 --slm1: #006494, #52c5f2; 
									 --slo1: #4fc8f3, #0b6d9c`) #{text}
button.soft.over(style=`--slm0: #ccda82, #9eb148; 
												--slo1: #a9c12d, #5b7f1b; 
												--slm2: #53790c, #b6ca4f`) #{text}
button.soft.bump(style=`--slo1: #f6c60e, #f9a123; 
												--slm1: #f6a017, #ffbe0d; 
												--sli1: #d4dbe5, #eff2f3;
												--slm2: transparent, transparent`) #{text}
button.soft.bump.over(style=`--slo1: #fdfdfd, #c8cec2;
														 --slm2: #fa9e0d, #ffbd11`) #{text}
														 
p.box.box--fail.box--elem Sorry, it appears your browser does not support the 
	a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/element' target='_blank'): code element()
	|  function, so it won't display the 
	a(href='https://twitter.com/anatudor/status/1634909243370360834' target='_blank') full look
	|  of the buttons. As of March 2023, this is only supported in Firefox (with the 
	code -moz-
	|  prefix).